<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    -->
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="~/assets/css/theme.bundle.css" />
    <link rel="stylesheet" href="~/assets/lib/datatables/css/dataTables.jqueryui.css" />
    <link rel="stylesheet" href="~/assets/lib/datatables/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/assets/lib/jqueryui/themes/base/jquery-ui.min.css" />
    <link rel="icon" href="~/assets/favicon/icon-game.png" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/assets/lib/datatables/css/jquery.dataTables.min.css" />

    <!--Css para ventanas modales-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>

    <!--Navegation-->
    <nav class="navbar navbar-vertical fixed-start navbar-expand-md navbar-dark" id="sidebar">
        <div class="container-fluid">
            <!-- Logotipo-->
            <a class="navbar-brand fe fe-home" asp-area="" asp-controller="Home" asp-action="Index"> CasaGaming</a>

            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="fe fe-list"></span>
            </button>


            <div class="navbar-collapse collapse show" id="sidebarCollapse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-white fe fe-shield" asp-area="" asp-controller="Home" asp-action="Privacy">&nbsp;Políticas</a>
                </li>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-light fe fe-grid" asp-area="" asp-controller="Categories" asp-action="Index">&nbsp;Categorías</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light fe fe-flag" asp-area="" asp-controller="Countries" asp-action="Index">&nbsp;Países</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light fe fe-shopping-bag" asp-area="" asp-controller="Products" asp-action="Index">&nbsp;Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light fe fe-users" asp-area="" asp-controller="Users" asp-action="Index">&nbsp;Usuarios </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light fe fe-truck" asp-area="" asp-controller="Orders" asp-action="Index">&nbsp;Pedidos </a>
                    </li>
                }
                @if(User.Identity.IsAuthenticated && User.IsInRole("User"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-light fe fe-truck" asp-area="" asp-controller="Orders" asp-action="MyOrders">&nbsp;Mis pedidos </a>
                    </li>
                }


                </ul>
            </div>
                <div class="navbar-user d-md-none" id="sidebarUser" >
                    <div class="dropdown>

                    
                    @if (User.Identity.IsAuthenticated)
                    {

                        <li class="nav-item">
                            <a class="nav-link text-light dropdown-toggle" asp-area="" asp-controller="Account" asp-action="ChangeUser">@User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Logout">Cerrar Sesión</a>
                        </li>
                    }

                
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">Iniciar Sesión</a>
                    </li>
                }
                </div>
                </div>  

         </div>
    </nav>


    <!--Main Content-->
    <div class="main-content">
        <div class="container-fluid">
            <main role="main" class="pb-3">
                <partial name="_BusyIndicatorPartial" />
                @RenderBody()
            </main>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/lib/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
    <script src="~/assets/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Vendor JS -->
    <script src="~/assets/js/vendor.bundle.js"></script>
    <!-- Theme JS -->
    <script src="~/assets/js/theme.bundle.js"></script>

    <script>
        function displayBusyIndicator(){
            $('.loading').show();
        }
    </script>
    <script>
        //Oscurece la pagina mientras se carga la página, el usuario no pora hacer clic en ningun lado
        $(window).on('beforeunload', function () {
            displayBusyIndicator();
        });
    </script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>