
@{
    ViewData["Title"] = "Error404";
}

<!-- CONTENT
    ================================================== -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-5 col-xl-4 my-5">

            <div class="text-center">

                <!-- Preheading -->
                <h6 class="text-uppercase text-muted mb-4">
                    404 error
                </h6>

                <!-- Heading -->
                <h1 class="display-4 mb-3">
                   No hay página 😭
                </h1>

                <!-- Subheading -->
                <p class="text-muted mb-4">
                    ¿Parece que llegaste aquí por accidente?
                </p>

                <!-- Button -->
                <a asp-action="Index" class="btn btn-lg btn-primary">
                    Volver
                </a>

            </div>

        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->