@{
    ViewData["Title"] = "Inicio";
}



<div class="col-12" id="fondo">
    <h1>¡Bienvennnnnnnnnnido!</h1>
    <background-img src="/as" alt="Carrito de compra fondo" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<style>


</style>